html {
  background: url(images/CasinoTable.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* color: whitesmoke; */
}

/* h1 {
  color: whitesmoke;
} */

#message-el {
  font-style: italic;
  
}

button {
  color: black;
  font-weight: bold;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.7s;
}

button:hover:focus {
  color: rgb(216, 201, 201);
  background-color: goldenrod;
  font-weight: bold;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  
}

button:focus {
  color: white;
  background-color: goldenrod;
  font-weight: bold;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  
}